.mb-40 {
	margin-bottom: 40px;
}

.mt-30 {
	/*margin-top: 30px;*/
}

.fs-120 {
	font-size: 120px;
}

.fs-50 {
	font-size: 50px;
}

.fs-22 {
	font-size: 22px;
}

.fs-20 {
	font-size: 20px;
}

.fs-18 {
	font-size: 18px;
}
